* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Topo */

header {
    background-color: #fff;
}

.topo {
    width: 1024px;
    padding: 35px 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-logo {
    display: flex;
    justify-content: space-between;
    width: 297px;
}

.container-logo img {
    width: 69px;
}

.texto-logo h1 {
    font-size: 32px;
    color: #000000;
}

.texto-logo p {
    font-size: 16px;
    color: #2F86D6;
    font-weight: 500;
}

.container-menu {
    width: 383px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
}

.container-menu a {
    font-size: 18px;
    font-weight: 590;
    color: #233032;
    text-decoration: none;
}

/* Banner */

.banner {
    background-color: #2F86D6;
    color: #fff;
    padding: 180px 0px;
}

.banner article {
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.banner article p {
    font-size: 16px;
}

.banner article h2 {
    font-size: 28px;
}

.container-textual-banner {
    width: 470px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.banner-img {
    width: 50%;
}

/* Anúncios */

.primeiro-anuncio, .segundo-anuncio {
    padding: 40px 0;
    color: #fff;
}

.primeiro-anuncio article, .segundo-anuncio article {
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-textual-primeiro-anuncio, .container-textual-segundo-anuncio {
    width: 600px;
}

.primeiro-anuncio h2, .segundo-anuncio h2 {
    font-size: 24px;
}

.primeiro-anuncio-btn a, .segundo-anuncio-btn a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-weight: 550;
    width: 237px;
    height: 62px;
    padding: 0 13px;
    border-radius: 5px;
}

.primeiro-anuncio-btn a p, .segundo-anuncio-btn a p {
    color: #fff;
    font-size: 18px;
}

.primeiro-anuncio {
    background-color: #233032;
}

.primeiro-anuncio p {
    font-size: 16px;
}

.primeiro-anuncio a {
    background-color: #2F86D6;
}

.segundo-anuncio {
    background-color: #2F86D6;
}

.segundo-anuncio a {
    background-color: #233032;
}

/* Informações */

.informacoes {
    padding: 100px 0;
    background-color: #fff;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 130px;
}

.informacoes h2 {
    width: 900px;
    font-size: 32px;
    text-align: center;
}

.informacoes h2 span {
    color: #2F86D6;
}

.container-informacoes {
    width: 1024px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.card-informacoes {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 19px;
    text-align: center;
}

.card-informacoes img {
    width: 30%;
}

.card-informacoes h3 {
    font-size: 18px;
}

.card-informacoes p {
    font-size: 16px;
}

/* Planos */

.planos {
    background-color: #F1F3F7;
    padding: 100px 0;
}

.container-planos {
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 81px;
    margin: auto;
}

.container-planos h2 {
    font-size: 32px;
    color: #000000;
}

.container-planos h2 span {
    color: #2F86D6;
}

.container-planos table {
    box-shadow: #2F86D6 0 0 30px 14px;
    text-align: center;
    width: 1024px;
}

.card-planos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 26px 0;
    background-color: #FFF;
}

.card-planos h3 {
    font-size: 18px;
    color: #000000;
}

.card-planos p {
    font-size: 13px;
    color: #A89F9F;
    max-width: 130px;
}

.card-planos img {
    width: 100px;
}

.planos tbody tr {
    font-size: 16px;
    height: 46px;
}

.planos tbody tr:nth-of-type(odd) {
    background-color: #F6F6F6;
}

.planos tbody tr:nth-of-type(even) {
    background-color: #FFF;
}

/* Rodapé */

.contatos {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 70px;
    padding: 100px 0;
}

.contatos-texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 19px;
}

.contatos-texto p {
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

.creditos {
    padding: 20px 0;
    background-color: #F1F3F7;
}

.creditos p {
    font-size: 16px;
    font-weight: 500;
    margin: auto;
    text-align: center;
}

.creditos span {
    color: #2F86D6;
}